<div ng-controller="gameController">
  <header class="game-header">
    <div>
      <p>Current Level</p>
      <p class='number'>{{ totalLevel.totalLevel }}</p>
    </div>
    <div>
      <p>Total Score</p>
      <p class='number'>{{ totalScore.totalScore }}</p>
    </div>
    <div>
      <p>Time Left</p>
      <p class='number'>{{ timeLimit }}</p>
    </div>
  </header>

  <div>
    <div class="gameOver" ng-if="gameOver"><p>GAME OVER</p></div>
    <div class="gameWon" ng-if="gameWon"><p>YOU WIN</p></div>

    <p id="gameContent" class="noselect">{{ challenge }}</p>
    <form>
      <!-- Stretch idea: cols and rows could be added dynamically based on gameContent -->
      <textarea ui-codemirror ui-codemirror-opts="editorOptions" ng-class="{box: incorrectBool}" id="gameInput" ng-model="playerSolution" name="gameInput" cols="60" rows="10" ng-disabled="gameOver" ng-change="checkChar(playerSolution)"></textarea>

      <br>
      <span ng-if="showMessage">{{ submitMessage }}</span>
    </form>
  </div>
</div>
