<div ng-controller="gameController">
  <header>
    <span><strong>Total Score: </strong>{{ totalScore.totalScore }}</span>
    <span><strong>Time Left: </strong>{{ timeLimit }}</span>
  </header>
  <div>
    <div class="gameOver" ng-if="gameOver">GAME OVER</div>
    <div class="gameWon" ng-if="gameWon">YOU WIN</div>

    <pre id="gameContent">{{ challenge }}</pre>
    <form ng-submit="checkSolution(playerSolution)">
      <!-- Stretch idea: cols and rows could be added dynamically based on gameContent -->
      <textarea ng-model="playerSolution" name="gameInput" id="gameInput" cols="60" rows="10" ng-disabled="gameOver"></textarea>
      <br>
      <span ng-if="showMessage">{{ submitMessage }}</span>
      <br>
      <button ng-disabled="gameOver">Submit solution</button>
    </form>
  </div>
</div>
